---
import SearchResults from "@/components/common/SearchResults";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Search Results">
    <main class="container">
        <SearchResults client:load />
    </main>
</Layout>
